.game-tile {
  height: 15rem;
  margin: 1rem;
  width: 20%;
  border: 2px black solid;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__img {
    height: 12rem;
    width: 90%;
    border: 2px dotted blue;
    background-color: lightgrey;
  }

  &__title {
    font-size: 2rem;
    color: red;
  }
}
