.home {
  &__title {
    font-size: 3.5rem;
    text-decoration: underline;
    margin: 0;
  }

  &__games-area {
    padding: 1rem;
    border: 2px black solid;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #01aaa7;
  }

  &__game-tile {
    height: 15rem;
    margin: 1rem;
    width: 20%;
    border: 2px black solid;
    background-color: #ffffff;
  }
}
